{% extends 'layouts/base2.html' %}
{% load static %}
{% block content %}
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <h1>Log in</h1>
                    </div>
                </div>

                <form>
                    <!-- <p class="col-sm-8 text-center color3">Sorry, wrong password!</p> -->

                    <div class="row mb-3 text-end">
                        <label for="inputLogin" class="col-sm-3 col-form-label">Login</label>
                        <div class="col-sm-5">
                            <input type="text" id="inputLogin" class="form-control">
                        </div>
                    </div>

                    <div class="row mb-3 text-end">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control is-invalid" id="inputPassword">
                            <div class="invalid-feedback text-start">
                                Sorry, wrong password!
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-bd-red text-light">Log in!</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-9 offset-sm-3">
                            <a href="signup.html">Create new account</a>
                        </div>
                    </div>
                </form>
{% endblock %}