{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


<div class="col-9">
    <div class="d-flex flex-column gap-3">


        <div><h1> Settings </h1></div>

        <form>
                    <div class="row mb-3 text-end">
                        <label for="inputLogin" class="col-sm-3 col-form-label">Login</label>
                        <div class="col-sm-5">
                            <input id="inputLogin" class="form-control" value="dr_pepper">
                        </div>
                    </div>

                    <div class="row mb-3 text-end">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control" id="inputEmail3" value="dr.pepper@mail.ru">
                        </div>
                    </div>

                    <div class="row mb-3 text-end">
                        <label for="inputNickname" class="col-sm-3 col-form-label">NickName</label>
                        <div class="col-sm-5">
                            <input id="inputNickname" class="form-control" value="dr pepper">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="formFile" class="col-sm-3 col-form-label text-end">Upload avatar</label>
                        <div class="col-sm-5">
                            <img src="../static/img/2722809.jpg" alt="Avatar" width="200" class="img-thumbnail ms-2">
                            <div class="mb-3">
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-bd-red text-light">Save</button>
                        </div>
                    </div>
                </form>

    </div>

</div>


 {% endblock %}
